<a href="https://colab.research.google.com/github/tiyajfrancis/Personalised-Food-Recommender-Algo/blob/main/Food_Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
food = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/FoodData_Central_csv_2022-10-28/food.csv")

In [3]:
food.head()

,fdc_id,data_type,description,food_category_id,publication_date
0,1105904,branded_food,WESSON Vegetable Oil 1 GAL,NaN,2020-11-13
1,1105905,branded_food,SWANSON BROTH BEEF,NaN,2020-11-13
2,1105906,branded_food,CAMPBELL'S SLOW KETTLE SOUP CLAM CHOWDER,NaN,2020-11-13
3,1105907,branded_food,CAMPBELL'S SLOW KETTLE SOUP CHEESE BROCCOLI,NaN,2020-11-13
4,1105898,experimental_food,Discrepancy between the Atwater factor predict...,NaN,2020-10-30

In [4]:
food.dtypes

fdc_id                int64
data_type            object
description          object
food_category_id    float64
publication_date     object
dtype: object

In [5]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1766279 entries, 0 to 1766278
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   fdc_id            int64
 1   data_type         object
 2   description       object
 3   food_category_id  float64
 4   publication_date  object
dtypes: float64(1), int64(1), object(3)
memory usage: 67.4+ MB

In [6]:
food.describe()

             fdc_id  food_category_id
count  1.766279e+06       5624.000000
mean   1.405808e+06       4721.354018
std    5.953365e+05       2145.882897
min    1.675120e+05       1002.000000
25%    9.323070e+05       3004.000000
50%    1.465736e+06       4002.000000
75%    1.909626e+06       6418.000000
max    2.353629e+06       9999.000000

In [7]:
food.isna().sum()

fdc_id                    0
data_type                 0
description               9
food_category_id    1760655
publication_date          0
dtype: int64

In [8]:
food['food_category_id'].unique()

array([  nan, 9602., 1004., 1002., 1006., 1008., 1202., 1404., 1820.,
       1822., 8412., 5802., 9007., 9010., 1208., 1204., 1206., 1402.,
       7220., 9404., 9402., 9999., 8008., 8006., 5804., 5502., 1602.,
       1604., 3602., 2502., 3720., 6432., 3802., 2002., 2004., 9008.,
       2602., 2604., 2006., 3002., 8002., 2008., 2206., 2202., 2204.,
       2010., 2606., 2608., 2402., 2404., 3404., 3004., 8410., 3006.,
       8404., 3202., 3402., 3502., 6411., 3740., 3742., 3702., 3704.,
       3730., 3703., 3706., 2802., 3102., 5004., 3104., 2806., 8406.,
       3744., 2804., 3722., 7204., 4202., 4204., 5506., 4206., 3208.,
       5202., 5504., 4402., 4208., 4404., 5402., 5404., 9012., 5204.,
       5008., 5002., 5006., 4004., 4804., 4802., 4002., 4602., 4604.,
       9002., 3506., 3504., 3406., 3204., 3206., 6012., 8806., 7002.,
       7006., 6016., 6018., 6002., 6420., 6004., 6014., 6006., 6024.,
       6008., 6020., 6022., 6011., 6009., 5806., 7004., 9004., 9202.,
       6802., 6806., 6804., 6418., 6430., 6407., 6410., 6409., 6404.,
       7008., 6406., 6402., 8408., 8402., 6412., 6413., 6416., 6414.,
       9006., 8004., 8010., 8012., 6489., 8802., 8804., 5704., 5702.,
       7302., 7304., 7202., 7102., 7802., 7106., 7502., 7506., 7504.,
       7702., 7704., 7804., 9204., 7208., 9802., 7206., 7104.])