<a href="https://colab.research.google.com/github/tiyajfrancis/Personalised-Food-Recommender-Algo/blob/main/main/Data_cleaning_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
food = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/FoodData_Central_csv_2022-10-28/food.csv")

In [ ]:
food.head()

,fdc_id,data_type,description,food_category_id,publication_date
0,1105904,branded_food,WESSON Vegetable Oil 1 GAL,NaN,2020-11-13
1,1105905,branded_food,SWANSON BROTH BEEF,NaN,2020-11-13
2,1105906,branded_food,CAMPBELL'S SLOW KETTLE SOUP CLAM CHOWDER,NaN,2020-11-13
3,1105907,branded_food,CAMPBELL'S SLOW KETTLE SOUP CHEESE BROCCOLI,NaN,2020-11-13
4,1105898,experimental_food,Discrepancy between the Atwater factor predict...,NaN,2020-10-30

In [ ]:
food.dtypes

fdc_id                int64
data_type            object
description          object
food_category_id    float64
publication_date     object
dtype: object

In [ ]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1766279 entries, 0 to 1766278
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   fdc_id            int64
 1   data_type         object
 2   description       object
 3   food_category_id  float64
 4   publication_date  object
dtypes: float64(1), int64(1), object(3)
memory usage: 67.4+ MB

In [ ]:
food.describe()

             fdc_id  food_category_id
count  1.766279e+06       5624.000000
mean   1.405808e+06       4721.354018
std    5.953365e+05       2145.882897
min    1.675120e+05       1002.000000
25%    9.323070e+05       3004.000000
50%    1.465736e+06       4002.000000
75%    1.909626e+06       6418.000000
max    2.353629e+06       9999.000000

In [ ]:
food.isna().sum()

fdc_id                    0
data_type                 0
description               9
food_category_id    1760655
publication_date          0
dtype: int64

In [ ]:
food['food_category_id'].unique()

array([  nan, 9602., 1004., 1002., 1006., 1008., 1202., 1404., 1820.,
       1822., 8412., 5802., 9007., 9010., 1208., 1204., 1206., 1402.,
       7220., 9404., 9402., 9999., 8008., 8006., 5804., 5502., 1602.,
       1604., 3602., 2502., 3720., 6432., 3802., 2002., 2004., 9008.,
       2602., 2604., 2006., 3002., 8002., 2008., 2206., 2202., 2204.,
       2010., 2606., 2608., 2402., 2404., 3404., 3004., 8410., 3006.,
       8404., 3202., 3402., 3502., 6411., 3740., 3742., 3702., 3704.,
       3730., 3703., 3706., 2802., 3102., 5004., 3104., 2806., 8406.,
       3744., 2804., 3722., 7204., 4202., 4204., 5506., 4206., 3208.,
       5202., 5504., 4402., 4208., 4404., 5402., 5404., 9012., 5204.,
       5008., 5002., 5006., 4004., 4804., 4802., 4002., 4602., 4604.,
       9002., 3506., 3504., 3406., 3204., 3206., 6012., 8806., 7002.,
       7006., 6016., 6018., 6002., 6420., 6004., 6014., 6006., 6024.,
       6008., 6020., 6022., 6011., 6009., 5806., 7004., 9004., 9202.,
       6802., 6806., 6804., 6418., 6430., 6407., 6410., 6409., 6404.,
       7008., 6406., 6402., 8408., 8402., 6412., 6413., 6416., 6414.,
       9006., 8004., 8010., 8012., 6489., 8802., 8804., 5704., 5702.,
       7302., 7304., 7202., 7102., 7802., 7106., 7502., 7506., 7504.,
       7702., 7704., 7804., 9204., 7208., 9802., 7206., 7104.])

In [ ]:
food.drop(['publication_date'],axis = 1, inplace = True)

In [ ]:
food.head()

,fdc_id,data_type,description,food_category_id
0,1105904,branded_food,WESSON Vegetable Oil 1 GAL,NaN
1,1105905,branded_food,SWANSON BROTH BEEF,NaN
2,1105906,branded_food,CAMPBELL'S SLOW KETTLE SOUP CLAM CHOWDER,NaN
3,1105907,branded_food,CAMPBELL'S SLOW KETTLE SOUP CHEESE BROCCOLI,NaN
4,1105898,experimental_food,Discrepancy between the Atwater factor predict...,NaN

In [ ]:
print(food[food['food_category_id'].isnull() == False])

          fdc_id          data_type                               description  \
1753468  2340760  survey_fndds_food                               Milk, human
1753469  2340761  survey_fndds_food                                 Milk, NFS
1753470  2340762  survey_fndds_food                               Milk, whole
1753471  2340763  survey_fndds_food                    Milk, reduced fat (2%)
1753472  2340764  survey_fndds_food                        Milk, low fat (1%)
...          ...                ...                                       ...
1759087  2346379  survey_fndds_food          Tomatoes as ingredient in omelet
1759088  2346380  survey_fndds_food  Other vegetables as ingredient in omelet
1759089  2346381  survey_fndds_food         Vegetables as ingredient in curry
1759090  2346382  survey_fndds_food         Sauce as ingredient in hamburgers
1759091  2346383  survey_fndds_food      Industrial oil as ingredient in food

         food_category_id
1753468            9602.0
1753469            1004.0
1753470            1002.0
1753471            1004.0
1753472            1006.0
...                   ...
1759087            9999.0
1759088            9999.0
1759089            9999.0
1759090            9999.0
1759091            9999.0

[5624 rows x 4 columns]

In [ ]:
print(food['data_type'].unique())

['branded_food' 'experimental_food' 'sr_legacy_food' 'sample_food'
 'market_acquistion' 'sub_sample_food' 'foundation_food'
 'agricultural_acquisition' 'survey_fndds_food']

In [ ]:
print(food[food['description'].isna()])

          fdc_id        data_type description  food_category_id
403834    776874     branded_food         NaN               NaN
1208400  1757383  sub_sample_food         NaN               NaN
1208401  1757384  sub_sample_food         NaN               NaN
1208402  1757385  sub_sample_food         NaN               NaN
1208403  1757386  sub_sample_food         NaN               NaN
1208404  1757387  sub_sample_food         NaN               NaN
1208405  1757388  sub_sample_food         NaN               NaN
1208406  1757389  sub_sample_food         NaN               NaN
1208407  1757390  sub_sample_food         NaN               NaN

In [ ]:
# remove all food items with null values (9 items)
food.drop(food[food['description'].isna()].index, inplace=True)

In [ ]:
food.isna().sum()

fdc_id                    0
data_type                 0
description               0
food_category_id    1760646
dtype: int64